*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.headerPai {

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: var(--background-dark);
    height: 80px;
}
.headerPai .AlarmClockCheck {
    margin-left: 10px;
}
.headerPai .headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.headerPai .headerNav a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
}
.headerPai .headerNav a:hover {
    color: var(--link-hover-color);
}

.headerPai h1 {
  margin-left: -20%;
    color: var(--principal-dark);
    font-size: 1em;
}