*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.headerPai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: #e9f0ff;
    height: 50px;
}

.headerPai .headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}