*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header.headerPai {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
   
    background-color: var(--background-dark);
    height: 80px;
}
.headerPai .AlarmClockCheck {
    margin-left: 0px;
}
nav {
    gap: 15px;
    display: flex;

    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
    
}
.headerPai .headerNav a:hover {
    color: var(--link-hover-color);
}

.headerPai h1 {
  
    color: var(--principal-dark);
    font-size: 1.1em;
}