/* Container Principal */
.container {
  
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  animation: fadeIn 0.4s ease-out;
}

/* Cabeçalho da Página */
.pageHeader {
  text-align: center;
  margin-bottom: 40px;
}

.pageHeader h2 {
  font-size: 2em;
  color: var(--principal-dark);
  margin-bottom: 8px;
}

.pageHeader p {
  color: var(--gray-500);
  font-weight: 500;
}

/* Seção do Formulário (Criador de Notas) */
.inputSection {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.cardCreator {
  background-color: var(--gray-800);
  width: 100%;
  max-width: 650px;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid var(--gray-700);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Efeito de brilho ao editar */
.editingGlow {
  border-color: var(--warning);
  box-shadow: 0 0 15px rgba(255, 234, 7, 0.15);
}

.titleInput {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--gray-700);
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.2s;
}

.titleInput:focus {
  border-color: var(--principal-dark);
}

.contentInput {
  width: 100%;
  height: 120px;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: .9em;
  line-height: 1.6;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

/* Botões do Formulário */
.buttonGroup {
  display: flex;
  gap: 12px;
  
}

.saveBtn {
  background-color: var(--principal);
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: filter 0.2s;
}

.saveBtn:hover {
  filter: brightness(1.2);
}

.cancelBtn {
  background-color: var(--gray-700);
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: var(--gray-600);
}

.noteCard button {
   background-color:  #fffffffb;
     margin: 2px;
     padding: 2px;
} 
.noteCard {
  background-color:transparent;
  opacity: 0.9;
  border: 1px solid var(--principal);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}
.noteContent {
 
    white-space: pre-wrap;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}


.noteDate {
  font-size: 0.7em;
  color: var(--gray-500);
  margin-bottom: 12px;
}