section.FooterPhomo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: 8px;
  color: var(--background-light);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 110px;
  width: 100%;
  

  margin-top: 20px;
  
}

footer p {
font-weight: 700;
  font-size: .7em;
 
}