/* 1. Definição das Variáveis Globais (Cores que mudam) */
:root {
  /* Padrão Light (Claro) */
  --link-color: #216bb5;
  --title-color: #06182a;
  --text-color: #000213;
  --accent-soft: rgba(0, 0, 0, 0.05);
 
}

/* 2. Variáveis para o Tema Dark */
:root[data-theme="dark"] {
  --link-color: #2f8eed;
  --title-color: #ffffff;
  --text-color: #d1d1d1;
  --accent-soft: rgba(255, 255, 255, 0.05);
  --bg-container: #06182a; 
}

.genericHtml {
  max-width: 800px; 
  margin: 0 auto;
  padding: 2rem 1.5rem;
  
  
  color: var(--text-color);
  background-color: var(--bg-container); 
  font-family: system-ui, -apple-system, sans-serif;
  text-align: left;
}

.genericHtml h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color); 
  margin-bottom: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent-soft);
}

.genericHtml h1::before {
  content: "› ";
  color: var(--link-color);
}

.genericHtml h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title-color);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.genericHtml h2::before {
  content: "› ";
  color: var(--link-color);
}

.genericHtml p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  text-align: justify;
  color: var(--text-color); 
}

.genericHtml a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid rgba(47, 142, 237, 0.2);
  transition: 0.2s;
}