:root {
--gray-100: #f8f9fa;
--gray-200: #d6d7db;
--gray-300: #b6babd;
--gray-400: #a9afb3;
--gray-500: #888f97;
--gray-600: #616a71;
--gray-700: #474d53;
--gray-800: #292e32;
--gray-900: #171a1d;

  
--principal: #216bb5;
--principal-dark: #2f8eed;
--background-dark: #06182a;
--background-light: #b1daf4;
--text-color: #e4f2ff;
--text-color-light: #0d2c4a;

--sucess: #59a728;
--warning: #ffea07;
--danger: #7a030f;
--info: #17b89b;

--link-color: #0d6efd;
--link-hover-color: #0948a6;



}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body{
  background-image: linear-gradient(-215deg, var(--background-dark) 55%, #062f6c);
  color: var(--text-color);
}


h1{

  color: var(--text-color);
}

.FormPhomo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  line-height: 2.6;
  

}