

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
    gap: 10px
  }

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 10px
}

input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  
  font-size: 1em;
}


