

.cyclesPoints {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.cyclePoint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.workCurto {
  background-color: #1bb3cee0;
}

.workLongo {
  background-color: #005a4aec;
;
}
.breakCurto {
  background-color: #dbc307;
}
.breakLongo {
  background-color: #981307;
}