

.cyclesPoints {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.cyclePoint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.workCurto {
  background-color: #27b79d86;
}

.workLongo {
  background-color: #089178;
;
}
.breakCurto {
  background-color: #be4b0982;
}
.breakLongo {
  background-color: #be4b09;
}